body{
	overflow: hidden;
	background-color: black;
	font-family: LetraPocoComun;
}

#Conten{
	background-color: greenyellow;
	text-align: center;
	margin: 0% 10%;
	word-wrap: break-word;
}

#BoxStart{
	background-color: darkred;
}

#BoxCenter{
	background-color: darkred;
	margin: 240px 0px;
	font-display: block;
}

#BoxEnd{
	background-color: darkred;
	position: relative;
	margin: 250px 0px;
}

#IconoDw{
	padding: 0px;
	display: inline;
	margin: 0px;
	width: 2vw;
}

#texto01{
	padding: 10px;
	display: inline;
	margin: 0px;
	font-size: 25px;
}

@font-face{
	font-family: LetraPocoComun;
	src: url(Fuentes/RiveraFuenteLetra.otf);
	font-style: normal;
	font-weight: normal;
}