body{
	overflow: hidden;
	background-color: black;
	font-family: LetraPocoComun;
}

#Conten{
	background-color: greenyellow;
	text-align: center;
	margin: 0% 10%;
	word-wrap: break-word;
}

#BoxStart{
	background-color: darkred;
	padding: 0px;
	margin: 50px;
}

#BoxCenter{
	background-color: darkred;
	margin: 240px 0px;
	font-display: block;
	padding: 10px;
}

#BoxEnd{
	background-color: darkred;
	position: relative;
	margin: 250px 0px;
}

#IconoDw{
	padding: 0px;
	display: inline;
	margin: 0px;
	width: 20px;
	height: 20px;
}

#texto01{
	padding: 10px;
	display: inline;
	margin: 0px;
	font-size: 25px;
}

@font-face{
	font-family: LetraPocoComun;
	src: url(Fuentes/RiveraFuenteLetra.otf);
	font-style: normal;
	font-weight: normal;
}

#TextTitulo{
	background-color: yellow;
	margin: 20px;
}

#Buttum{
	background-color: black;
	color: white;
	display: block;
	padding: 10px;
	margin: auto;
	width: 100%;
	width: 150px;
	border-radius: 20px;
}#Buttum:hover{background-color: white; color: black;}